html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{

}

html,body {
    margin: 0;
    padding: 0;
    color: #000
}

table {
    margin: 0
}

input {
    vertical-align: middle;
    text-align: center
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0 !important;
    outline: none;
    border: none
}