.home-table {
	margin-top: 5px
}

.home-side-container {
	width: 200px;
	padding-right: 10px
}

.home-side {
	min-height: 529px;
	background: #fff;
	border-left:1px solid #f2f2f2;
	border-right:1px solid #a1a1a1 ;
}

.home-side-title {
	border-bottom: 2px solid #3B5999;
	padding: 10px;
	padding-left: 30px;
	background: url(../images/user-icon.png) no-repeat 5px center;
	color: #677DAF;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #637AAE
}

.home-content-title {
	border-bottom: 2px solid #3B5999;
	padding: 10px;
	padding-left: 30px;
	background: url(../images/home-icon.png) no-repeat 5px center;
	color: #677DAF;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #637AAE
}

.home-content-container {
	border: 1px solid #ededed;
	background: #FFF;
        padding:10px;
        
}

.home-content {
	padding: 5px
}

.home-menu {
	list-style: none;
	padding: 0px 8px;
}

.home-menu li {
        padding-bottom:5px;
	position: relative;
}
.home-menu li span.head{
    display: block;
    background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #f6fcff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f6fcff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#f6fcff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#f6fcff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#f6fcff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#f6fcff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f6fcff',GradientType=0 ); /* IE6-9 */

}
.home-menu li ul{
    padding-top:0;
    margin-top:10px;
}
.home-menu li ul li{
    width: 100%;
    margin-bottom: 10px;
    height: 5px;
    line-height: 18px;
}

.home-menu li ul li:not(:last-child){
    border-bottom: 1px solid #d8d8d8;
    
}
.home-menu li ul li a{
    padding-left: 18px;
    background: url(../images/li-arrow.png) no-repeat 0px center;
    color:#000;
    
}
.home-menu li ul li a:hover{
    background: url(../images/li-arrow-hover.png) no-repeat 0px center;
}
.home-number {
	position: absolute;
	right: 2px;
	top: 5px;
	display: inline-block;
	color: #fff;
	background: #6D83B4;
	padding: 2px 4px;
	border-radius: 2px
}

.home-box {
	height: 220px;
	background: #fff;
	border: 1px solid #E1E1E1
}

.home-user {
	padding: 15px 0px 0px 20px;
	background : url(../images/background_menu.png) no-repeat;
}

.home-photo {
	width: 90px;
	float: left;
	margin-right: 5px
}

.home-username {
	color: #074778;
	font-weight: bold;
}

.home-last-act {
	color: #6D83B4
}

.home-box {
	padding: 10px
}

.home-box h2 {
	margin: 0px;
	padding: 5px;
	font-size: 13px;
	border-bottom: 1px solid #ccc
}

.home-box ul {
	list-style: inside;
	padding: 0px 0px
}


.home-task-menu {
	background: url(../images/background_menu.png) no-repeat left center;
	padding-left: 22px !important;
	padding:8px;
	font-weight:bold;
}

.home-task1-menu {
	padding-left: 22px !important;
	padding:8px;
	font-weight:bold;
}
.home-tasktime-menu {
	background: url(../images/home-tasktime-menu.png) no-repeat left center;
	padding-left: 22px !important
}

.home-diploma-menu {
	background: url(../images/home-diploma-menu.png) no-repeat left center;
	padding-left: 22px !important
}

.home-email-menu {
	background: url(../images/home-email-menu.png) no-repeat left center;
	padding-left: 22px !important
}

.home-message-menu {
	background: url(../images/home-message-menu.png) no-repeat left center;
	padding-left: 22px !important
}

.home-list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.tabs-persional .tab{
        background: none;
}
.home-list li {
	list-style: none;
	background: url(../images/home-list.png) no-repeat 2px center;
	padding: 5px 0px 5px 10px;
}

.home-news li {
	list-style: none;
	background: url(../images/star.jpg) no-repeat 2px center !important;
	padding: 5px 0px 5px 16px;
}

.home-task li {
	list-style: none;
	background: url(../images/task.jpg) no-repeat 2px 10px !important;
	padding: 3px 0px 2px 10px;
}

.home-diploma li {
	list-style: none;
	background: url(../images/diploma.jpg) no-repeat 2px center !important;
	padding: 5px 0px 5px 16px;
}

#home-photo {
	position: relative;
	display: inline-block;
	cursor: pointer;
	float: left;
}

.home-edit-icon {
	position: absolute;
	top: 2px;
	left: 1px;
	display: inline-block;
	text-align: center;
	background: #3B5998;
	color: #fff;
	font-size: 6px;
	text-transform: uppercase;
	opacity: 0.7;
	visibility: hidden;
	z-index: 10;
}

#user_form_photo_progress {
	position: absolute;
	top: 30px;
	left: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #444;
	z-index: 11
}

#chart {
	margin-top: 32px;
	height: 150px;
	position: relative;
	width: 571px;
	padding: 0px
}

.bar {
	background: #007FC2;
	width: 30px;
	position: absolute;
	bottom: 0px;
	z-index: 1
}

.horizal {
	z-index: 2;
	height: 150px;
	width: 1px;
	background: #5755A9;
	position: absolute;
	bottom: 0px;
	left: 0px
}

.vertical {
	z-index: 2;
	height: 1px;
	width: 395px;
	background: #5755A9;
	position: absolute;
	bottom: 0px;
	left: 0px
}

.label {
	position: absolute;
	bottom: -18px;
	left: 0px;
	font-size: 11px;
	width: 30px;
	text-align: center
}
.tab-persional{
    background: #fff;
    border:none;
    color:#000;
    text-decoration:none;
    margin-left:0px;
    padding-left: 2px;
    padding-right: 5px;
}
.tabs-persional{
    border:none;
}
.tab-bar-per{
    background: url(../images/icon-menu-personel.png) no-repeat 5px 10px;
    padding-left: 28px !important;
    border-bottom: 1px solid #CCC;

}
.tab-link-active span{
    color:#007FC2
}
p.home-announcement-title{
    padding:2px 0px;
    margin: 0px
}
.home-task span{

}
.home-small{
    color: #222;

}
.home-personnel li{
    background:  none;
    padding-left: 30px;
    position: relative
}
.home-personnel-images{
    position: absolute;
    top:20%;
    left:0%;
    width:24px;
    height:24px;
    border:none
}
.home-small a{
    color:#555 !important;
}
/**Them style trang chu**/

.home-left{
	float: left;
	width: 60px;
	color:#8e8e8e;
}

.home-right{
	float: left;
	width: 230px;
	font-weight:bold;
}

.home-box-content1{
	height:245px;
	border : 1px solid #ccc;
	width: 325px;
	margin-bottom: 5px;
}
.home-box-content1 h2{
	margin: 0px;
	padding: 5px;
	font-size: 13px;
	border-bottom: 2px solid #ccc
}
.home-box-content1-left{
	width:110px;
	float:left;
	padding-top: 50px;
	padding-left: 10px;
}
.home-box-content1-left ul li {
	list-style: none;
	padding-top: 5px;
}

.home-box-content1-right{
	float:left;
	width:200px;
	padding-top: 15px;
}
.home-box-content1 ul li{
	line-height:20px;
}
.home-box-content1 ul li a{
	color:black;
}
.home-box-content1 ul{
	padding:10px;
}
.home-side-tit{
	padding-left: 20px;
	font-weight: bold;
	font-size: 13px;
}